.triggers {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    will-change: top;
}

.triggers div {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 1em;
}

.triggers div.outline {
    background-color: red;
}

#krayon_logo_trigger {
    top: 60%;
}

#header_two_trigger {
    top: 55%;
}

#header_two_flip_one {
    top: 150%;
}

#galveston_flip {
    top: 205%;
}
